.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url('/public/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-color: #ffffff;
}

.App-header {
  background-color: #262626;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Message-content > .username {
  display: block;
  color: #363636; 
  font-size: 14px;
  padding-bottom: 4px;
  font-weight: bold; 
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: #c0c0c0; 
  color: #363636; 
  display: inline-block;
  border: 1px solid #a9a9a9; 
}

.currentMember > .Message-content .text {
  background-color: #d2691e; 
  color: white; 
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #d2691e; 
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #d2691e; 
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}
